/* CONSTANTS */
BACKGROUND_COLOR = #FFFFFF
CONSOLE_HEIGHT = 144px
CONSOLE_BORDER = 7px
DIALOG_WIDTH = 500px
STATUS_WIDTH = 300px
STATUS_HEIGHT = 60px
CHAR_HEIGHT = 250px // max height for character images

@font-face
    font-family 'Pokemon'
    src url('./../lib/font/Pokemon.ttf') format('truetype')

body
  background-color BACKGROUND_COLOR
  font-family 'Pokemon'

#background
  margin auto
  text-align center
  -webkit-text-stroke 1px #777777
  color BACKGROUND_COLOR

h1
  font-weight BOLD

// handling the styling of the console
.message
.dialog
  background-color #FFFFFF
  position fixed
  border-style double
  border-radius 7px
  border-width CONSOLE_BORDER
  padding 10px
  font-size 18px
  line-height 24px

.message
  height CONSOLE_HEIGHT
  bottom 5px
  left 5px
  right CONSOLE_BORDER 
  word-wrap break-word

// handling styling of the player status boxes
.bar
  position fixed
  width STATUS_WIDTH
  min-height STATUS_HEIGHT
  border-bottom-style solid
  border-bottom-width 7px
  border-radius 5px
  padding 10px 10px 10px 10px

.top .bar
  top 20px
  left 20px
  border-left-style solid
  border-left-width 3px

.bottom .bar
  bottom CONSOLE_HEIGHT + 50px
  right 20px
  border-right-style solid
  border-right-width 3px

.name
  padding-bottom 10px
  font-size 24px

.lvl
  text-align center
  padding-bottom 10px
  font-size 12px

.status
  padding-top 10px
  text-align right
  font-size 12px
  &:before
    content '('
  &:after
    content ')'

.char
  position fixed
  img
    height auto
    width auto
    max-height CHAR_HEIGHT

.top .char
  left STATUS_WIDTH + 100px

.bottom .char
  right STATUS_WIDTH + 100px
  bottom CONSOLE_HEIGHT - 40px


// styling the dialog boxes
.dialog
  margin auto
  width DIALOG_WIDTH
  left calc(50% - 250px)
  top 20%
  bottom 20%
  overflow-y hidden
  .title
    text-align center
    border-bottom-style solid
    border-bottom-width 1px
    padding 10px
    margin 10px
  .options
    list-style-type none
    margin 20px
    margin-left -25px
    li
      border-bottom-style dashed
      border-bottom-width 1px
      &.selected
        &:before
          content '> ' 
      padding 20px

#mask
  background-color #000000
  position fixed
  top 0
  bottom 0
  left 0
  right 0
  display none
