/* CONSTANTS */
BACKGROUND_COLOR = #FFFFFF

@font-face
    font-family 'Pokemon'
    src url('./../lib/font/Pokemon.ttf') format('truetype')

body
  background-color BACKGROUND_COLOR
  font-family 'Pokemon'

#background
  margin auto
  text-align center
  -webkit-text-stroke 1px #777777
  color BACKGROUND_COLOR

h1
  font-weight BOLD
