doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.theme.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.structure.css")
    
    title DEBATE: Battle Resolution
  
  body
    #background
    #page
      .top
        .bar
        .char
      .bottom
        .bar
        .char
      .message
      .dialog

    script(type="text/javascript" src="js/script.js")
