doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.theme.css")
    link(rel="stylesheet" type="text/css" href="css/jquery-ui.structure.css")
    
    title DEBATE: Battle Resolution
  
  body
    #background
    #page
      .top
        .bar
          .name OAK
          .lvl Speaks: 
            span.level 31
          .hp Case: 
            span.health 6
            span /
            span.healthMax 6
          .status
        .char
      .bottom
        .bar
          .name OAK
          .lvl Speaks: 
            span.level 31
          .hp Case: 
            span.health 6
            span /
            span.healthMax 6
          .status
        .char
      .message TEST
      .dialog

    script(type="text/javascript" src="js/script.js")
