doctype html
html(lang="en")
  head
    link(rel="stylesheet" type="text/css" href="css/main.css")
    
    title DEBATE: Battle Resolution
  
  body
    h1 Placeholder
    script(type="text/javascript" src="js/script.js")
